#main-container {
  padding: 1em 2em;
}

/*********************************************************************************
 * Navbar
*********************************************************************************/

nav {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-link {
    color: black;
    text-decoration: none;
    margin: 0.5em 1em;
}

.nav-link:hover {
    color: pink;
    text-decoration: none;
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #707070;
    z-index: 1;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.lang-button {
    color: black; /* Change this to black */
    cursor: pointer;
}

.lang-button #active {
    color: #353535;
    font-weight: bold;
}

.lang-button a:hover {
    color: pink; /* Change this to pink */
}

/*********************************************************************************
 * Footer
*********************************************************************************/
#Logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: #e6e6e6;

    .logo-container {
        display: inline-block;
        max-width: 25%;
    }

    .logo {
        display: block;
        width: 100%;
        max-height: 100px;
    }
}
